<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    {% if user.is_superuser %}
        <h1>Olá {{user}} </h1>
        <hr>
        {% for pessoa in pessoas %}
            <h3>{{pessoa.username}}</h3>
         <h3>
            {{pessoa.email}}
        </h3>
        <form method="GET" action="{% url 'change_user' pessoa.id %}">
             {% csrf_token %} 
            <button type="submit">Alterar Usuario</button>
        </form>
        <form method="POST" action="{% url 'exclude_user' pessoa.id %}">
            {% csrf_token %} 
            <button type="submit">Excluir Usuario</button>
        </form>
        {% endfor %} 
        <br>
        <br>
        <form method="GET" action="{% url 'create_user' %}">
            {% csrf_token %}
            <button type="submit">Cadastrar Novo Usuario</button>
        </form>
        <form method="POST" action="{% url 'logout_user' %}">
            {% csrf_token %} 
            <button type="submit"> Logout </button>
        </form>
    {% else %}
        <h1>Olá {{user.username}} </h1>
        <hr>
        {% for pessoa in pessoas %}
            <h3>{{pessoa.username}}</h3>
         <h3>
            {{pessoa.email}}
        </h3>
        <form method="GET" action="{% url 'change_user' pessoa.id %}">
             {% csrf_token %} 
            <button type="submit">Alterar Usuario</button>
        </form>
        <form method="POST" action="{% url 'exclude_user' pessoa.id %}">
            {% csrf_token %} 
            <button type="submit">Excluir Usuario</button>
        </form>
        {% endfor %} 
        <br>
        <br>
        <form method="POST" action="{% url 'logout_user' %}">
            {% csrf_token %} 
            <button type="submit"> Logout </button>
        </form>
    {% endif %}

    {% endblock %}
</body>
</html>