<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    {% block content %}
    <form method="POST" action="{% url 'register_user' %}">
        {% csrf_token %}
        <label for="username"> Username: </label>
        <input id="username" type="text" name="username">
        <br>
        <br>
        <label for="email"> Email: </label>
        <input id="email" type="email" name="email">
        <br>
        <br>
        <label for="password"> Password: </label>
        <input id="password" type="password" name="password">
        <br>
        <br>
        <button type="submit">Cadastrar</button>
    </form>

    {% endblock %}
</body>
</html>